 
    .parallax{
      background-image: url(https://thumbs.dreamstime.com/b/pink-gingham-pattern-vector-seamless-texture-white-114016375.jpg);
      height: 320px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }

    p{
      background-color: rgb(255, 233, 237);
      padding: 20px;
      border-radius: 20px;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      max-width: 70%;
      border: 4px dashed rgb(255, 255, 255);
      color: rgb(56, 93, 173);
      font-weight: bold;
    }

    h1{
      font-family: 'Lovely Cute', sans-serif;
      -webkit-text-stroke: 2px pink;
      color: white;
      font-size: 100px;
      text-align: center;
    }

    h2{
      font-family: 'Lovely Cute', sans-serif;
      color: white;
      text-align: center;
      -webkit-text-stroke: 1px rgb(100, 149, 255);
      padding: 20px;
      margin: auto;
    }

    img{
      border: 6px dashed rgb(255, 249, 240);
      width: 60%;
      border-radius: 40px;
    }

    .explainy{
      border-radius: 20px;
      background-color: rgb(192, 211, 255);
      max-width: 42%;
      margin: auto;
      color: rgb(56, 93, 173);
      font-weight: bold;
    }
    

    .sparkle{
      display: flex;
      justify-content: space-between;
      background-color: rgb(255, 233, 237);
      border-radius: 20px;
      padding: 4px;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .silly{
      border-radius: 10px;
      background-color: rgb(255, 249, 240);
      flex-basis: auto;
      margin: 10px;
      width: 40%;
      border: 10px dotted white;
      flex-wrap: wrap;
    }

    .warn{
      color: rgb(255, 143, 162);
      font-style: italic;
      font-weight: bolder;
    }

    .at{
      color: rgb(100, 149, 255);
      font-style: italic;
      font-weight: bolder;
    }

    ul{
      list-style-type: none;
      margin: auto;
      text-align: center;
      margin-bottom: 10px;
    }

    li{
      display: inline;
      border-radius: 6px;
      border: 6px dotted white;
      background-color: rgb(255, 249, 240);
      color: rgb(100, 149, 255);
      margin: 20px;
      padding: 6px;
      text-align: center;
      font-family: 'Lovely Cute', sans-serif;
    }
